.container {
  background-color: #b0eece;
  font-family: calibri;


}

/* Clearfix */
.container:after {
  display: block;
  content: '';
  clear: both;
}

.box {
  width: 100px;
  height:100px;
  border: 2px solid #ffffff;
  float: right;
}
